@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;700;1000&display=swap');

:root {
  --border: 2px solid #70416D;
  --bg: #F5ECEB; 
  --fg: #FFD4E6; 
  --text: #70416D;
--accent: #ff85a232; 
}

*{
  font-family: 'Mulish', sans-serif;
  transition: 0.2s ease-in-out;
  color: var(--text); 
}
html, body {
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  background-color: var(--bg);
}

/* Gameboard Design */
main {
  margin-top: 100px;
  margin-bottom: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.scoreboard{
  display: flex;
  gap: 20rem;
}
.score {
  font-size: 42px;
  border-radius: 20px;
}

.info {
  font-size: 30px;
  font-style: italic;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  margin-top: 10px;
}
.cell {
  width: 200px;
  height: 200px;
  font-size: 48px;
  font-weight: 1000; 
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.cell:hover{
  box-shadow: 0 26px 58px 0 rgba(0, 0, 0, .22), 0 5px 14px 0 rgba(0, 0, 0, .18);
}

.cell:nth-child(-n+3) {
  border-bottom: var(--border);
}

.cell:nth-child(3n+1) {
  border-right: var(--border);
}

.cell:nth-child(3n) {
  border-left: var(--border);
}

.cell:nth-child(n+7) {
  border-top: var(--border);
}

button{
  box-shadow: 0 5px 7px rgb(0 0 0 / 5%) ;
  padding: 1rem;
  font-size: 16px;
  background-color: var(--bg);
  border: none;
  border-radius: 5px;

}

button:hover{
  transform: translateY(-0.025rem);
  cursor: pointer;
  box-shadow: 0 14px 28px rgba(0,0,0,0.1), 0 10px 10px rgba(0,0,0,0.12);
}
